<div class="min-h-screen bg-gray-100 p-6">
  <h1 class="text-3xl font-bold mb-6">Insurance Claim Dashboard</h1>

  <nav class="mb-4 flex gap-4">
    <button
      routerLink="/claims"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      View Claims
    </button>
    <button
      routerLink="/submit"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      Submit Claim
    </button>
    <!-- <button
      routerLink="/users"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      Users
    </button> -->
    <!-- <button
      routerLink="/employee-form"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      JSONForms
    </button> -->

    <!-- <button
      routerLink="/employee"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      Employee-NgRx
    </button> -->
    <!-- <button
      routerLink="/dx-datagrid"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      Employee-DataGrid
    </button> -->
    <!-- <button
      routerLink="/counter"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      Counter
    </button> -->
    <!-- <button
      routerLink="/employee-step"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      Employee-step
    </button> -->
    <button
      routerLink="/shopping"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      Shopping Cart
    </button>
    <button
      routerLink="/dashboard-products"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      Dashboard Products
    </button>
    <!-- <button
      routerLink="/products"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      Products
    </button> -->
    <!-- <button
      routerLink="/favorites"
      routerLinkActive="bg-blue-600 text-black"
      class="px-4 py-2 bg-white border rounded hover:bg-blue-100"
    >
      Favorites
    </button> -->

    <button
      (click)="logout()"
      class="ml-auto px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700"
    >
      Logout
    </button>
  </nav>

  <router-outlet></router-outlet>
</div>
