<div class="user-list-container">

<div class="search-box" *ngIf="role === 'Admin'">
  <app-input [(searchText)]="searchText" (searchTextChange)="onSearchChange($event)"></app-input>
</div>

  <div class="user-cards">
    <div
      class="user-card"
      *ngFor="let user of users | userFilter: searchText"
      [appGenderColor]="user.email" 
      [title]="user.email.split('@')[1]" 
    >
      <h3>{{ user.name }}</h3>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Comment:</strong> {{ user.body }}</p>
    </div>
  </div>
</div>
