<div class="container">
  <div class="card">
    <div class="card-header bg-info text-dark">Users Management</div>
    <div class="card-body">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <app-search-input
            [searchText]="searchText"
            (searchTextChange)="onSearchInputChange($event)"
          ></app-search-input>

          <div class="d-flex gap-2 float-right">
            <span class="badge bg-primary fs-7 px-2 py-2">Total: {{ totalUsers }}</span>
            <span class="badge bg-success fs-7 px-2 py-2">Male: {{ maleUsers }}</span>
            <span class="badge bg-danger fs-7 px-2 py-2">Female: {{ femaleUsers }}</span>
          </div>

          <div class="d-flex gap-2">
            <button class="btn btn-outline-secondary" (click)="reloadUsers()">
              <i class="bi bi-arrow-clockwise"></i> Reload
            </button>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="bi bi-plus-circle"></i> Add User
            </button>
          </div>
        </div>

        <!-- <h2>User List</h2>

<ul *ngIf="users$ | async as users">
  <li *ngFor="let user of users">
    {{ user.fullName }} ({{ user.gender }})
  </li>
</ul>
 -->


        <app-user-table
          [usersList]="users$ | async"
          [searchText]="searchText"
          (onEdit)="onEdit($event)"
          (onDelete)="onDelete($event)"
        ></app-user-table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Users Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <jsonforms
          [(data)]="data"
          [schema]="schema"
          [uischema]="uischema"
          [renderers]="renderers"
          validationMode="ValidateAndShow"
          (dataChange)="onDataChange($event)"
        >
        </jsonforms>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Save changes</button>
      </div>
    </div>
  </div>
</div>
