table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

thead {
  background-color: #3f51b5;
  color: white;
}

.no-data {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

.red-button {
  background-color: red;
  color: white; /* For visible text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
