<div class="container mt-4">
  <h3>Forgot Password</h3>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate>
    <div formGroupName="credentials">
      <div class="mb-3">
        <label>Old Password</label>
        <input type="password" class="form-control" formControlName="oldPassword">
        <div class="text-danger"
          *ngIf="getControl('credentials.oldPassword')?.touched && getControl('credentials.oldPassword')?.invalid">
          Old password is required.
        </div>
      </div>

      <div class="mb-3">
        <label>New Password</label>
        <input type="password" class="form-control" formControlName="newPassword">
        <div *ngIf="getControl('credentials.newPassword')?.pending" class="text-info">Checking password...</div>
        <div class="text-danger" *ngIf="getControl('credentials.newPassword')?.errors?.['usedBefore']">Password was used
          before.</div>
        <div class="text-danger"
          *ngIf="getControl('credentials.newPassword')?.touched && getControl('credentials.newPassword')?.errors?.['minlength']">
          Password must be at least 6 characters.
        </div>
      </div>

      <div class="mb-3">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword">
      </div>

      <div class="text-danger" *ngIf="getControl('credentials')?.errors?.['mismatch']">
        Passwords do not match.
      </div>
    </div>

    <div class="mt-4">
      <button class="btn btn-primary" [disabled]="loading || forgotPasswordForm.invalid">Submit</button>
    </div>
  </form>
</div>