<!-- <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <label>
    Name:
    <input type="text" [(ngModel)]="user.name" name="name" required />
  </label>
  <label>
    Phone:
    <input type="text" [(ngModel)]="user.phone" name="phone" required />
  </label>
  <label>
    Age:
    <input type="text" [(ngModel)]="user.age" name="age" required />
  </label>
  <button type="submit">Submit</button>
</form> -->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" formControlName="name" />
  </label>
  <label>
    Phone:
    <input type="text" formControlName="phone" />
  </label>
  <label>
    Age:
    <input type="text" formControlName="age" />
  </label>
  <legend>Status:</legend>
  <label>
    <input type="radio" value="active" formControlName="status" />
    Active
  </label>
  <label>
    <input type="radio" value="inactive" formControlName="status" />
    Inactive
  </label>
  <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form>
